@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

input {
  outline: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

p {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

.section-title, .article-title {
  display: none; }

.topBar {
  background-color: #00122f;
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px 25px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 499px) {
    .topBar {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 13px;
      padding: 20px 20px; } }

.container {
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto; }
  @media screen and (max-width: 499px) {
    .container {
      padding: 0; } }

.topBar a {
  text-decoration: underline;
  color: #fff; }

@media screen and (max-width: 499px) {
  .topBar-time {
    display: none; } }

.header-top {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 789px) {
    .header-top {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 0;
      padding: 12px 25px; } }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 499px) {
    .header-logo img {
      zoom: 0.75; } }

.logo-text {
  display: block;
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
  width: 75px;
  line-height: 18px; }
  @media screen and (max-width: 789px) {
    .logo-text {
      width: 150px;
      margin-right: 25px; } }

.city {
  color: #448ccb;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  padding-right: 15px;
  background-position: right 8px; }
  @media screen and (max-width: 860px) {
    .city {
      display: none; } }
  .city span {
    border-bottom: 1px dashed #448ccb; }

.day-props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media screen and (max-width: 789px) {
  .desktop {
    display: none; } }

.current-time {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/header-clock.png);
  background-position: 0 0;
  margin: 0 20px;
  padding-left: 24px; }

.currentWeather {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/weather-icon.png);
  padding-left: 30px;
  background-position: 0 -3px; }

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px; }
  .search-block input {
    width: 100%;
    height: 45px;
    background-color: rgba(235, 235, 235, 0.6);
    border-radius: 45px;
    border: none;
    padding: 0 15px; }
    @media screen and (max-width: 449px) {
      .search-block input {
        display: none; } }
  .search-block button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 14px;
    outline: none;
    cursor: pointer; }
    @media screen and (max-width: 449px) {
      .search-block button {
        top: -8px;
        right: 0; } }

.mobile {
  display: none;
  background-color: #f5f5f5;
  padding: 40px 23px;
  font-size: 16px; }
  @media screen and (max-width: 789px) {
    .mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.nav-menu {
  list-style: none;
  margin-top: 37px;
  margin-bottom: 32px; }
  @media screen and (max-width: 499px) {
    .nav-menu {
      display: none; } }
  .nav-menu ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (max-width: 789px) {
      .nav-menu ul {
        display: block;
        -webkit-columns: 3;
        columns: 3;
        -webkit-column-gap: 40px;
        column-gap: 40px;
        text-align: center;
        line-height: 30px; } }

/*центральный блок*/
main {
  background-color: rgba(235, 235, 235, 0.3);
  padding-top: 20px;
  padding-bottom: 60px; }
  @media screen and (max-width: 1039px) {
    main {
      padding-bottom: 0; } }
  @media screen and (max-width: 499px) {
    main {
      padding-top: 0; } }

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px; }
  @media screen and (max-width: 1039px) {
    .column-container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (max-width: 789px) {
    .column-container {
      padding-bottom: 0; } }

.left-column {
  width: 250px;
  background-color: #fff; }
  @media screen and (max-width: 1039px) {
    .left-column {
      -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
      -webkit-box-flex: 2;
      -ms-flex-positive: 2;
      flex-grow: 2; } }
  @media screen and (max-width: 789px) {
    .left-column {
      margin-bottom: 20px; } }
  @media screen and (max-width: 740px) {
    .left-column {
      margin-bottom: 0; } }
  @media screen and (max-width: 729px) {
    .left-column {
      margin-left: 0; } }

.column-title {
  font-size: 20px;
  padding: 27px 0 24px 18px;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.news-container {
  padding: 0 18px;
  margin-top: 27px; }
  .news-container:first-of-type {
    margin-top: 34px; }

.news-props {
  margin-top: 18px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 195px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.news-title {
  font-size: 14px; }

.rubric {
  color: #91919f; }

.news-chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px; }

.news-time {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/clock-icon.png); }

.news-comments {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/comments-icon.png);
  margin-left: 20px; }

.left-column-btn {
  display: block;
  color: #448ccb;
  border: 1px solid #448ccb;
  font-size: 14px;
  border-radius: 50px;
  width: 178px;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 25px; }

.center-column {
  max-width: 460px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 1039px) {
    .center-column {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-left: 0; } }
  @media screen and (max-width: 789px) {
    .center-column {
      padding-bottom: 45px;
      margin: 0 auto; } }
  @media screen and (max-width: 499px) {
    .center-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.headline {
  position: relative;
  color: #fff; }

.main-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
  @media screen and (max-width: 499px) {
    .main-bg {
      min-height: 320px; } }

.headline-text {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 20px 42px; }
  .headline-text .rubric {
    color: #fff;
    font-size: 12px; }

.main-title {
  font-size: 30px;
  margin: 26px 0 23px;
  line-height: 35px; }
  @media screen and (max-width: 499px) {
    .main-title {
      font-size: 22px;
      line-height: 30px; } }

.headline-time {
  margin-left: 20px;
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/main-clock.png); }

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 1039px) {
    aside {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 20px; }
      aside img {
        height: 400px; } }
  @media screen and (max-width: 740px) {
    aside {
      overflow-x: scroll;
      margin: 50px 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      padding-left: 25px; } }
  aside .ad-1 {
    margin-bottom: 20px; }
    @media screen and (max-width: 789px) {
      aside .ad-1 {
        margin-right: 20px; } }
    @media screen and (max-width: 740px) {
      aside .ad-1 {
        margin-right: 20px;
        margin-bottom: 0; } }
  @media screen and (max-width: 740px) {
    aside .ad-2 {
      padding-right: 25px; } }

.other-news-container {
  width: 220px;
  margin-right: 20px;
  margin-top: 20px; }
  @media screen and (max-width: 499px) {
    .other-news-container {
      margin-right: 0;
      min-width: 320px; } }
  .other-news-container img {
    height: 142px; }
    @media screen and (max-width: 499px) {
      .other-news-container img {
        height: 200px;
        width: 100%; } }
  .other-news-container:nth-child(odd) {
    margin-right: 0; }
  @media screen and (max-width: 499px) {
    .other-news-container .article-text {
      padding: 0 25px;
      margin-top: 10px; } }
  .other-news-container .news-title {
    font-weight: bold;
    line-height: 20px; }

.bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 1039px) {
    .bottom-container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.bottom-headline {
  max-width: 588px; }

.bottom-headline-title {
  max-width: 450px; }
  @media screen and (max-width: 499px) {
    .bottom-headline-title {
      font-size: 22px;
      line-height: 30px; } }

.headline-description {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px; }
  @media screen and (max-width: 590px) {
    .headline-description {
      display: none; } }

.hot-news {
  width: 450px;
  background-color: #fff; }
  .hot-news .news-title {
    font-weight: bold;
    font-size: 16px; }
  .hot-news .news-container {
    margin-top: 30px; }
  @media screen and (max-width: 1039px) {
    .hot-news {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding-bottom: 50px; } }

footer {
  background-color: #00122f;
  color: #fff;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (max-width: 499px) {
    footer {
      padding: 45px 25px 0; } }
  footer ul li {
    line-height: 35px; }

.footer-nav {
  color: #fff;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 60px;
  column-gap: 60px;
  padding-bottom: 25px;
  margin-right: 20px; }
  @media screen and (max-width: 499px) {
    .footer-nav {
      border-bottom: 1px solid #26354e;
      margin-bottom: 30px; } }

#logo {
  margin-bottom: 20px; }

.social-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px; }
  .social-block ul li {
    margin-left: 20px; }
    .social-block ul li:first-child {
      margin-left: 0; }
  @media screen and (max-width: 527px) {
    .social-block ul {
      margin: 40px 0 30px; } }

.callback a {
  display: block;
  color: #fff;
  font-style: normal;
  margin-bottom: 25px; }

.phone {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/social/sprites.png);
  padding-left: 25px; }

.mail {
  background-repeat: no-repeat;
  padding-left: 15px;
  background-position: left 2px;
  background-image: url(../img/social/sprites.png);
  padding-left: 25px;
  background-position: 0 -44px; }

.copyright {
  text-align: center;
  margin-top: 57px;
  padding: 19px 0;
  color: rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15); }
  @media screen and (max-width: 499px) {
    .copyright {
      color: #465060;
      text-align: left;
      line-height: 25px;
      font-size: 14px;
      padding: 27px 0; } }

.menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background-color: transparent;
  position: relative; }
  @media (max-width: 499px) {
    .menu-btn {
      display: block; } }

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222; }

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.menu-btn span::before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.menu-btn span::after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px); }

.menu-btn_active span {
  height: 0; }

.menu-btn_active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-btn_active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  padding: 25px;
  height: 100%;
  z-index: 100;
  background-color: #f5f5f5; }
  .mobile-nav ul {
    display: block; }
  .mobile-nav ul li {
    display: block;
    line-height: 45px;
    border-bottom: 1px solid #ebebeb; }
    .mobile-nav ul li:last-child {
      border: none; }

.stop-scroll {
  height: 100%;
  overflow-y: hidden; }
